body{
    font-family: sans-serif;
    max-width: 660px;
    margin:20px;

}

html{
background-color: aqua;
}


 a {
     text-decoration: none;
     color: olive;
 }


 p {
     margin-bottom: 10px;
 }

 header,
 main,
 footer {
     margin-bottom: 20px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #f9f9f9;
 }

 nav ul,
 .flex {
     list-style: none;
     padding: 10;
     display: flex;
     gap: 5px;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 nav ul li,
 .flex>* {
     flex: 1 1 100px;
 }

 img {
     max-width: 100%;
 }