:root {
  
}

html{
    font-family: sans-serif;
}
.pelis{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.pelis li{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.pelis img{
    width: 100%;
    height: auto;
}

body {
    font-family: var(--font-family);
    padding: 20px;
    max-width: var(--maxw);
    margin: 20px;
    padding:30 px;
}

header {
    background:rgb(128, 209, 244);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    background-color:rgb(128, 209, 244);
    padding: 20px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: rgb(128, 209, 244);
    color: black;
  }
  
footer{
    background:rgb(128, 209, 244);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
 
}
h1 {
    margin-bottom: 10px;
    color: var(--cd);
    text-align: center
}

nav a {
    text-decoration: none;
    color: var(--c1);
}

p {
    margin-bottom: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    /* Ancho maxximo de la imagen */
    height: auto;
    /* Altura automatica para mantener la proporcion */
}


.redes-sociales{
    display:flex;
    gap:20px;
    justify-content: center;
}


form {
    background-color: rgb(128, 209, 244);
    padding: 30px;
    border: 2px solid black;
    border-radius: 12px;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 20px auto 0 auto; /* Margen superior y centra horizontalmente */
  }
  
  button:hover {
    background-color: #333;
  }